# Folders to ignore
build/
artifacts/
cache/

# Files to ignore
*.log
*.env

# Remix specific
/remix-accounts/

# Node.js dependencies
node_modules/

# System files
.DS_Store
Thumbs.db
